<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>playd8coordin8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9373A6721DDFAB440081347B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9373A68B1DDFAB450081347B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9373A6961DDFAB450081347B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
